#title{
	font-size: 280%;
	color: blue;
	text-align: center;
	font-style: italic;
	text-shadow: 1px 1px 0 rgba(0,0,0,.2);
}
#icon{
	position: absolute;
	top: 30px;
	right: 30px;
}
#sityou{
	position: absolute;
	top: 250px;
	left: 300px;
}
#zem{
	position: absolute;
	top: 150px;
	left: 650px;
	border: 2px solid #4B0082;
}
#twitter{
	position: absolute;
	top: 150px;
	left: 970px;
}
body{
	background-color: #d8edfc;
	color: #000000;
}
.normal{
	font-size: 110%;
}
.normal1{
	font-size: 130%;
}
.normal2{
	font-size: 180%;
}

.button{
	font-size: 130%;
	background-color: #9400D3;
	color: #D3D3D3;
	border-style: none;
	box-shadow: 2px 2px 3px 1px #666;
    -moz-box-shadow: 2px 2px 3px 1px #666;
    -webkit-box-shadow: 2px 2px 3px 1px #666;
	text-align: center;
	text-shadow: 1px 1px 2px #000;
	
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
	background: #000000;
}
.button:hover{
	opacity: 0.6;
}




