body{
    
    background:linear-gradient(-45deg, rgba(246, 255, 0, .8), rgba(255, 0, 161, .8)),url(horse.jpg);
    background-size:cover;
}

a{
    font-color:	#00BFFF;
    text-decoration:none;
}

a:hover{
    /*font-color: #FF0000;*/
    background-color: #000000;
}

.header{
    text-align: center;
    font-size: 600%;
    font-color: #1E90FF;
    font-family: 'Dancing Script', cursive;
}

.main{
    margin-top: 30px;
    padding: 20px;
}

.topic{
    background-color:rgba(0,255,255,.2);
    margin: 10px;
    padding: 10px;
}

.subheader{
    text-align: center;
    font-size: 350%;
    border-bottom: 1px solid #000080;
    font-family: 'Baloo Bhai', cursive;
}

.category{
    font-size: 200%;
    font-family: 'Noto Serif', serif;
    padding: 10px;
}

.component{
    font-family: 'Noto Serif', serif;
    font-size: 150%;
}

.footer{
    text-align: right;
    font-size: 120%;
    font-family: 'Noto Serif', serif;
    margin-top: 30px;
}
