body{
    background: radial-gradient(#F2B9A1, #EA6264);
}

a{
    font-color:	#00BFFF;
    text-decoration:none;
}

a:hover{
    color: #FF0000;
    background-color: #000000;
}

.header{
    text-align: center;
    font-size: 600%;
    color: #000080;
    font-family: 'Dancing Script', cursive;
}

.main{
    margin-top: 30px;
    padding: 20px;
}


.topic{
    background-color:rgba(0,255,255,.2);
    margin: 10px;
    padding: 10px;
    border-radius: 5%;
}

.subheader{
    text-align: center;
    font-size: 350%;
    border-bottom: 1px solid #000080;
    font-family: 'Baloo Bhai', cursive;
    color:#8B4513;
}

.category{
    font-size: 200%;
    font-family: 'Noto Serif', serif;
    padding: 10px;
}

.component{
    font-family: 'Noto Serif', serif;
    font-size: 150%;
}

#gimmick{
    display:none;
}

.footer{
    background-color:rgba(255,255,255,.5);
    color: #006400;
    text-align: center;
    font-size: 120%;
    font-family: 'Noto Serif', serif;
    margin: 30px;
    padding-top: 40px;
    padding-bottom: 40px;
    border-radius: 10%;
}
